/* @import        url("pygments.css"); */

/******************************************************************************/
/*                               General Style                                */
/******************************************************************************/


body {

    background-color: white;
    color: #101010;

    font-family: helvetica, arial, freesans, clean, sans-serif;
    font-size: 95%;
    line-height: 1.35em;
    letter-spacing: .1em;
}

blockquote {
	font-size: 1.1em;
	font-family: "Georgia", "FreeSerif", serif;
	font-style: italic;
	color: #8b8b8b;
}


h1, h2, h3,
h4, h5, h6 {
    color: #333333;

    font-family: "Georgia", "FreeSerif", serif;
    font-style: italic;
    font-weight: bolder;
}

h1 a, h2 a,
h3 a, h4 a, 
h5 a, h6 a {
    color: inherit;
    text-decoration: inherit;
}

h1 a:hover, h2 a:hover,
h3 a:hover, h4 a:hover, 
h5 a:hover, h6 a:hover {
    text-decoration: inherit;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}

a {
    color: #2a6a88;

    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img, table, pre {
    margin: 1em .5em;
    padding: .25em;
    border: thin solid silver;
    overflow: auto;
}

figure {
    display: block;
    margin: 1em auto;
    border: thin solid silver;
    text-align: center;
    font-size: .9em;
}

figure img {
    margin: .1em;
    padding: .1em;
    border: none;
    max-width: 100%;
    overflow: auto;
}

pre {
    margin: 1em .5em;
    padding: .75em;
    border: 1px solid silver;
    background: #111111;
    color: #ffffff; 

    font-family: monospace;
    line-height: 1.15em;

    overflow: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 4px;
}

table th {
    font-weight: bolder;
    margin: .6em .5em;
}

table td {
    margin: .4em .5em;
}

table th,
table td {
    border: thin dashed silver;
}

table tr {
    border: thin solid silver;
}



/******************************************************************************/
/*                              Specific Styles                               */
/******************************************************************************/

.page-head h1 {
    margin: .7em auto;

    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 2.8em;
    text-align: center;
}

.page-content h1:before {
  content: "# ";
}

.page-content h2:before {
  content: "## ";
}

.page-content h3:before {
  content: "### ";
}

.page-content h4:before {
  content: "#### ";
}

.page-content h5:before {
  content: "##### ";
}

.page-content h6:before {
  content: "###### ";
}



.widget ul li {
    margin: .1em .4em;

    font-size: 0.8em;
    letter-spacing: 0.2em;
    text-decoration: none;
    font-variant: small-caps;
}

.page-content #page-title {
    font-size: .9em;
}


.page-content .post {
    clear: both;
    margin: 1em 0 3em 0;
}


.post .post-header {
    margin: 0;
    padding: .1em;
    font-family: Georgia, "Times New Roman", Times, serif;
}


.post .post-header time {
    margin: 0;
    padding: 0;

    font-size: .7em;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: lighter;
}


.post .post-header h1 {
    margin: 0;
    padding: 0;

    border-bottom: thin dashed silver;

    font-size: 1.5em;
    font-weight: bolder;
    font-style: normal;
    letter-spacing: 0.0em;
    line-height: 1em;
}

.post .post-header h1:hover {
    border-bottom: thin dashed #333;
}

.post .post-header .meta {
    font-size: .9em;
    letter-spacing: 0.2em;
    text-decoration: none;
}


.post .post-content {
    clear: both;
    margin: 0;
    padding: .5em .1em;
}


.post .post-footer {
    clear: both;
    margin: 0;
    padding: .1em;

    font-family: Georgia, "Times New Roman", Times, serif;
}


.post .post-footer .readmore {
    font-size: 0.8em;
    letter-spacing: 0.2em;
    text-decoration: none;
    font-variant: small-caps;
}


.page-footer p {
    display: block;
    width: 60%;

    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#pagination {
font-family: Georgia, "Times New Roman", Times, serif;

    font-size: 0.8em;
    letter-spacing: 0.2em;
    text-decoration: none;
    font-variant: small-caps;
    
    display: block;
    clear: both;
}



/******************************************************************************/
/*                                    Misc                                    */
/******************************************************************************/

// GitHub button

@media screen and (min-width: 800px) {
    #github-link {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 100px;
        background-image: url("../img/corner.png");
        margin: 0;
        border: none;
        text-decoration: none;
        color: transparent;
        font-size: 0;
    }
}

// Tag list

/*ul#tagslist {
    display: block;
    width: 75%;
    margin: 1em auto;
    list-style-type: none;
}

ul#tagslist li {
    display: inline-block;
    list-style-type: none;
    margin: .5em .2em;
    transition: transform 1s ease 0s;
    -o-transition: -o-transform 1s ease 0s;
    -ms-transition: -ms-transform 1s ease 0s;
    -moz-transition: -moz-transform 1s ease 0s;
    -webkit-transition: -webkit-transform 1s ease 0s;
}



ul#tagslist li:hover {
    transform: rotate(0deg) scale(1.2, 1.2) !important;
    -o-transform: rotate(0deg) scale(1.2, 1.2) !important;
    -ms-transform: rotate(0deg) scale(1.2, 1.2) !important;
    -moz-transform: rotate(0deg) scale(1.2, 1.2) !important;
    -webkit-transform: rotate(0deg) scale(1.2, 1.2) !important;
}*/

ul.tagcloud {
  list-style: none;
    padding: 0;
}

ul.tagcloud li {
    display: inline-block;
}

ul.tagcloud li.tag-1 {
    font-size: 120%;
}

ul.tagcloud li.tag-2 {
    font-size: 100%;
}

ul.tagcloud li.tag-3 {
    font-size: 80%;
}

ul.tagcloud li.tag-4 {
    font-size: 60%;
}

/* pygments.css   */

pre .hll { background-color: #333333 }
pre .c { color: #008800; font-style: italic; background-color: #0f140f } /* Comment */
pre .err { color: #ffffff } /* Error */
pre .g { color: #ffffff } /* Generic */
pre .k { color: #fb660a; font-weight: bold } /* Keyword */
pre .l { color: #ffffff } /* Literal */
pre .n { color: #ffffff } /* Name */
pre .o { color: #ffffff } /* Operator */
pre .x { color: #ffffff } /* Other */
pre .p { color: #ffffff } /* Punctuation */
pre .cm { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Multiline */
pre .cp { color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f } /* Comment.Preproc */
pre .c1 { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Single */
pre .cs { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Special */
pre .gd { color: #ffffff } /* Generic.Deleted */
pre .ge { color: #ffffff } /* Generic.Emph */
pre .gr { color: #ffffff } /* Generic.Error */
pre .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
pre .gi { color: #ffffff } /* Generic.Inserted */
pre .go { color: #aaaaaa; } /* Generic.Output */
pre .gp { color: #FFA500; } /* Generic.Prompt */
pre .gs { color: #ffffff } /* Generic.Strong */
pre .gu { color: #ffffff; font-weight: bold } /* Generic.Subheading */
pre .gt { color: #ffffff } /* Generic.Traceback */
pre .kc { color: #fb660a; font-weight: bold } /* Keyword.Constant */
pre .kd { color: #fb660a; font-weight: bold } /* Keyword.Declaration */
pre .kn { color: #fb660a; font-weight: bold } /* Keyword.Namespace */
pre .kp { color: #fb660a } /* Keyword.Pseudo */
pre .kr { color: #fb660a; font-weight: bold } /* Keyword.Reserved */
pre .kt { color: #cdcaa9; font-weight: bold } /* Keyword.Type */
pre .ld { color: #ffffff } /* Literal.Date */
pre .m { color: #0086f7; font-weight: bold } /* Literal.Number */
pre .s { color: #0086d2 } /* Literal.String */
pre .na { color: #ff0086; font-weight: bold } /* Name.Attribute */
pre .nb { color: #ffffff } /* Name.Builtin */
pre .nc { color: #ffffff } /* Name.Class */
pre .no { color: #0086d2 } /* Name.Constant */
pre .nd { color: #ffffff } /* Name.Decorator */
pre .ni { color: #ffffff } /* Name.Entity */
pre .ne { color: #ffffff } /* Name.Exception */
pre .nf { color: #ff0086; font-weight: bold } /* Name.Function */
pre .nl { color: #ffffff } /* Name.Label */
pre .nn { color: #ffffff } /* Name.Namespace */
pre .nx { color: #ffffff } /* Name.Other */
pre .py { color: #ffffff } /* Name.Property */
pre .nt { color: #fb660a; font-weight: bold } /* Name.Tag */
pre .nv { color: #fb660a } /* Name.Variable */
pre .ow { color: #ffffff } /* Operator.Word */
pre .w { color: #888888 } /* Text.Whitespace */
pre .mf { color: #0086f7; font-weight: bold } /* Literal.Number.Float */
pre .mh { color: #0086f7; font-weight: bold } /* Literal.Number.Hex */
pre .mi { color: #0086f7; font-weight: bold } /* Literal.Number.Integer */
pre .mo { color: #0086f7; font-weight: bold } /* Literal.Number.Oct */
pre .sb { color: #0086d2 } /* Literal.String.Backtick */
pre .sc { color: #0086d2 } /* Literal.String.Char */
pre .sd { color: #0086d2 } /* Literal.String.Doc */
pre .s2 { color: #0086d2 } /* Literal.String.Double */
pre .se { color: #0086d2 } /* Literal.String.Escape */
pre .sh { color: #0086d2 } /* Literal.String.Heredoc */
pre .si { color: #0086d2 } /* Literal.String.Interpol */
pre .sx { color: #0086d2 } /* Literal.String.Other */
pre .sr { color: #0086d2 } /* Literal.String.Regex */
pre .s1 { color: #0086d2 } /* Literal.String.Single */
pre .ss { color: #0086d2 } /* Literal.String.Symbol */
pre .bp { color: #ffffff } /* Name.Builtin.Pseudo */
pre .vc { color: #fb660a } /* Name.Variable.Class */
pre .vg { color: #fb660a } /* Name.Variable.Global */
pre .vi { color: #fb660a } /* Name.Variable.Instance */
pre .il { color: #0086f7; font-weight: bold } /* Literal.Number.Integer.Long */




