<aside class="page-sidebar">
{{ $root :=.Site.BaseURL }}
    <nav class="widget">
      <h3>Site</h3>
      
      {{ if .Site.Params.liberapay }}
      <script src="/js/liberapay-button.js"></script>
    <noscript>
    <a href="https://liberapay.com/{{ .Site.Params.liberapay }}/donate"><img rel="preload" alt="Donate using Liberapay" src="/img/liberapay-donate.svg"></a>
    </noscript>
    <br />
      {{ end }}
      
      {{ if .Site.Params.tipeee }}
          <a href="https://en.tipeee.com/{{ .Site.Params.tipeee }}"><img rel="preload" style="border-width:0" height="40" alt="Tiping" src="/img/tipeee.png"></a>
      {{ end }}
      
      <ul>
        {{ range .Site.Data.Local }}
            <li><a href="{{ .url }}">{{ .name }}</a></li>
        {{ end }}
      <li><a type="application/rss+xml" href="{{ .Site.LanguagePrefix }}/index.xml" rel="alternate">Flux RSS</a></li>
      </ul>
      
	<a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
		<img rel="preload" alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" />
	</a>
	</nav>
	
      {{ if .Site.IsMultiLingual }}
      
      
      <nav class="widget">
      <h3>{{ i18n "languages" }}</h3>
      <ul>
      {{ range .Site.Languages }}
          <li><a href="{{ $root}}{{ .Lang }}/" rel="alternate">{{ .LanguageName }}</a></li>
      
      {{ end }}
    </ul>   
    </nav>
      
    {{ end }}

    <nav class="widget">
    <h3>{{ i18n "categories" }}</h3>
        <ul>
        {{range $name, $taxonomy := .Site.Taxonomies.categories}}
            <li><a href="{{$root}}{{"categories/" | relLangURL}}{{$name | urlize}}">{{$name}}</a></li>
        {{end}}
        </ul>
    
    <nav class="widget">
    <h3>Social</h3>
        <ul>
        {{ range .Site.Data.Social }}
            <li><a href="{{ .url }}">{{ .name }}</a></li>
        {{ end }}
        </ul>
    </nav>
    
    <nav class="widget">
    <h3>Blogroll</h3>
        <ul>
        {{ range .Site.Data.Blogroll }}
            <li><a href="{{ .url }}">{{ .name }}</a></li>
        {{ end }}
        </ul>
    </nav>

    <nav class="widget">
    <h3>Tags</h3>
    <ul class="tagcloud">
    
    {{ if gt (len $.Site.Taxonomies.tags) 0 }}
    <!--{{ $largestFontSize := 130 }}-->
    {{ $largestFontSize := 180 }}
    {{ $smallestFontSize := 85 }}
    {{ $fontSpread := sub $largestFontSize $smallestFontSize }}
    {{ $max := add (len (index $.Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
    {{ $min := len (index $.Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
    {{ $spread := sub $max $min }}
    {{ $fontStep := div $fontSpread $spread }}

        {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
            {{ $currentTagCount := len $taxonomy.Pages }}
            {{ $currentFontSize := (add $smallestFontSize (mul (sub $currentTagCount $min) $fontStep) ) }}
            {{ $count := len $taxonomy.Pages }}
            {{ $weigth := div (sub (math.Log $count) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
            {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weigth) ) }}
            <!--Current font size: {{$currentFontSize}}-->
            <li><a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" style="font-size:{{$currentFontSize}}%">{{ $name }}</a></li>
        {{ end }}
    {{ end }} 

    
        </ul>
    </nav>
    
</aside>
