<video autoplay="autoplay" loop="loop" preload="auto">
<source src="{{ .Get "mp4" }}" type="video/mp4"></source>
<source src="{{ .Get "ogg" }}" type="video/ogg"></source>
<source src="{{ .Get "webm" }}" type="video/webm"></source>
Your browser does not support the video tag.
</video> 
